<html>
  <head>
    <title>machine.javascript example</title>
    <script src="../lib/jquery/jquery-1.3.1.js"></script>
    <script src="../includer/src/machine-includer.js"></script>
    <style>
      .header { background-color: #ffcc00; width: 100%; height 200px; padding: 10px 10px 10px 10px }
    </style>
  </head>
  <body>
    <script>
      Machine.Includer.configure({scriptLocations : {'.*':''}});

      $(function() {
        include.load();
        
        $('.example_button').click(function(e) {
          var textareaId = $(e.currentTarget).attr('textarea');
          var containerId = $(e.currentTarget).attr('container');
          var containerDiv = $('#'+containerId);
          containerDiv.empty();
          var taText = $('#'+textareaId).val();
          eval(taText);
          include.load();
        });
      });

    </script>
    <div class="header"><h1>machine-controller.js example</h1></div>
    <div class="content">
      <p>
        machine-controller.js is a set of scripts that helps to lay out a pattern for sane, testable multi-file javascript development for web applications with rich client-side functionality.
      </p>
      <h3>Simple example</h3>
      <p>
        Here's an example of a simple controller that attaches to a container div and renders some static content:
      </p>
      <textarea rows="13" cols="80" id="simple_example">
// controller definition
include('../controller/machine-controller.js');
include(function() {
  var global = this;

  // controller initializer
  global.SimpleExampleController = function() {
    // here the "view renderer" for the controller is configured.
    // in this case, no real view renderer is provided, so the
    // controller will simply render the contents of whatever is
    // passed to this.setView() whenever render() is called on it.
    //
    // The view renderer scheme is covered in-detail later in this
    // document.
    this.init();
    this.model.view = "<div>hello world from SimpleExampleController!</div>";
    this.setView(this.model.view);
  };
  global.SimpleExampleController.prototype = new Machine.Controller();
});

// instantiating the controller
include(function() {
  var sec = new SimpleExampleController();
  // update the controller's rendered markup
  sec.render();
  
  // attach that markup to the document's DOM at some location
  $('#simple_example_container').append(sec.domRoot);
});
      </textarea><br />
      <input type="submit" value="Do it" class="example_button" textarea="simple_example" container="simple_example_container"/>
      <p>
        <div id="simple_example_container"></div>
      </p>
      <h3>Controller actions</h3>
      <p>
        machine-javascript.js provides an abstraction around javascript eventing, referred to as <em>actions</em>. These provide a convenient, concise pattern to declare events that may occur as a result of user interaction with the document and the appropriate responses for them. One of the advantages of using machine-javascript.js actions instead of vanilla JavaScript or JQuery eventing mechanisms is that rebinding the action in the event of DOM changes is handled for you.
      </p>
      <p>
        Below is an example of a controller that has a single action that waits for changes to a &lt;select&gt; dropdown and changes the text in a div as a result. The format for addAction()'s parameters are:
        <ul>
          <li><em>event</em> -- The JavaScript event to react to, in JQuery format (usually this means removing the "on" from the beginning of the event name, so "onClick" becomes "click", "onChange" becomes "change", etc)</li>
          <li><em>selector</em> -- A CSS selector, as used in a JQuery $(selector) call.</li>
          <li><em>handler</em> -- the handler function for the event passed as an argument
        </ul>
        Note that the handler function takes a single argument. This is, as in a JQuery event handler, the information about the event that was raised. In any action function, the "this" variable refers to the containing controller class itself, instead of the document. This means you have access to any model data or other variables that you want to store in the controller for the purposes of driving its logic.
      </p>
      <textarea rows="13" cols="80" id="actions_example">
include('../controller/machine-controller.js');
include(function() {
  var global = this;

  var viewStrBegin = '<div>Input: <select id="action_example_select"><option value="-1"></option><option value="0">What did your first program say?</option><option value="1">How"re you doing, today?</option><option value="2">Talk like a pirate.</option></select><br />Value: <div id="action_example_value_div" style="display:inline">';
  var viewStrEnd = '</div><p style="font-size:smaller;">Note: Because this example uses a very simplistic view renderer, the select box is going to reset its default/blank value every time it updates. If a real js view engine were used this issue could be mitigated.</p></div>';

  global.ActionExampleController = function() {
    this.init();
    this.currentValue = ""
    this.values = ["Hello world!", "Oh, not too shabby. You?", "Yarrrrrr!"];
    this.setView(viewStrBegin + this.currentValue + viewStrEnd);
    this.addAction('change', "#action_example_select", this.onSelectChange);
  };
  global.ActionExampleController.prototype = new Machine.Controller();

  // feel free to alias the controller's prototype for convenience
  var Public = global.ActionExampleController.prototype

  Public.onSelectChange = function(e) {
    var number = $(e.currentTarget).val();
    this.currentValue = this.values[number];
    this.model.view = viewStrBegin + this.currentValue + viewStrEnd;
    // we'll need to reset the view's content every time currentValue
    // changes. this wouldn't be strictly necessary if a more 
    // sophisticated view renderer solution were used.
    this.setView(viewStrBegin + this.currentValue + viewStrEnd);
    this.render();
  };
});

include(function() {
  var aec = new ActionExampleController();
  aec.render();
  
  $('#actions_example_container').append(aec.domRoot);
});
      </textarea><br />
      <input type="submit" value="Do it" class="example_button" textarea="actions_example" container="actions_example_container"/>
      <p>
        <div id="actions_example_container"></div>
      </p>
      <h3>Making AJAX requests in actions</h3>
      <p>
        A large part of what makes JavaScript useful for client-side web development is the AJAX model for asynchronous requests to the server. machine-controller.js, like any other JavaScript framework that would like to be relevant these days, offers no major obstacle to these kinds of activities. Below is an example of how one could implement doing AJAX requests as the result of some event on the client using JQuery's built-in AJAX mechanisms.
      </p>
      <textarea rows="13" cols="80" id="ajax_example">
... AjaxExample ...
      </textarea><br />
      <input type="submit" value="Do it" class="example_button" textarea="ajax_example" container="ajax_example_container"/>
      <p>
        <div id="ajax_example_container"></div>
      </p>
      <h3>ViewRenderers and Views</h3>
      <p>
        Part of what makes the client-side "MVC" pattern so appealing is that it allows a developer to more deliberately organize the markup generated and managed by a controller. Previously, doing non-trivial client-side development where markup is generated would require, at best, extensive DOM manipulations via JQuery operations or JavaScript functions on the DOM itself.
      </p>
      <p>Instead, let us explore an alternative approach that brings many of benefits of similar abstractions on the server (separation of presentation from control logic chief amongst them).
      </p>
      <p>
        machine-controller.js' rendering scheme (referred as the ViewRenderer from here on) is very flexible and meant to be worked out and implemented by the developer as-needed. It simply requires the definition of a prototype with an implementation for a render() function, in a similar fashion to specifying controllers. The prototype is then globally registered and is available to any controllers in the document that wish to use it. A developer may find that ViewRenderers are suitable for a number of tasks (like fetching static content via AJAX) in addition to updating DOM markup.
      </p>
      <p>
        Below is an example implementation of a ViewRenderer that uses the <a href="http://www.embeddedjs.com">EJS</a> javascript templating engine. Its templates define markup that looks much like HTML with opportunities to escape into JavaScript for control logic, conditionals, looping, etc.
      </p>
      <textarea rows="13" cols="80" id="view_renderer_example">
include("ejs.js");
include("../controller/machine-controller.js");
include(function() {
  var global = this;
  
  // our EJS renderer implementation
  global.EjsViewRenderer = function(view) {
    var elem = $(view);
    // if we are passed template markup as a string, make sure it
    // has a single root container element (otherwise it
    // will fail at render-time). Otherwise, treat the
    // string as a path to an .ejs script.
    if (typeof(view) == "string") {
      if (elem.length == 1) {
        this.compiledTemplate = new EJS({text: view});
      }
      else if (elem.length > 1) {
        throw "a valid ejs template must have a single root container node";
      }
      else {
        this.compiledTemplate = new EJS({url: view});
      }
    }
    else {
      throw "EjsViewRender only accept a string (template markup or a path to an ejs script) as its 'view' arugment";
    }
  };

  global.EjsViewRenderer.prototype.render = function(controller, model) {
    // this function returns a string representing the rendered
    // view that will be attached to the DOM
    return this.compiledTemplate.render(model);
  };

  // register the ViewRenderer with our global renderer container
  Machine.Controller.registerViewRenderer("ejs", global.EjsViewRenderer);

});

include(function() {
  var global = this;

  // a basic EJS template -- note that there is an enclosing, single
  // "container" element
  var template = '<div><input type="text" id="view_example_name" value="<%= name %>"/><input type="button" id="view_example_button" value="Introduce yourself"/><div>Hello, <%= name %>!</div></div>';


  // a simple controller that uses the EjsViewRenderer
  global.ViewRendererExampleController = function() {
    this.setView(template, "ejs"); // here, "ejs" matches the name provided to
                                   // Machine.Controller.registerViewRenderer()
    this.model.name = 'Alan Turing' // this is the same model that gets passed
                                    // into EjsViewRenderer.render()
    this.addAction('click', '#view_example_button', this.onButtonClick);
  };

  global.ViewRendererExampleController.prototype = new Machine.Controller();

  var Public = global.ViewRendererExampleController.prototype

  Public.onButtonClick = function() {
    var newName = $('#view_example_name').val();
    this.model.name = newName;
    this.render(); // call the controller's render() function when you want
                   // to update the controller's view markup
  }
});

include(function() {
  var vrec = new ViewRendererExampleController();
  vrec.render();
  $('#view_renderer_example_container').append(vrec.domRoot);
});
      </textarea><br />
      <input type="submit" value="Do it" class="example_button" textarea="view_renderer_example" container="view_renderer_example_container"/>
      <p>
        <div id="view_renderer_example_container"></div>
      </p>
      <h3>machine-includer.js</h3>
      <p>
        In additional to machine-controller.js, this package ships a script named machine-includer.js. The code in this file provides a robust includer mechanism that makes multi-file javascript development a breeze (giving you a more "C-style" includer system instead of the static, script-tags-in-the-header approach that browser-based JavaScript uses off-the-shelf).
      </p>
      <p>
        It only requires a few lines of JavaScript in your HTML to enable it. Firstly, in your document's HEAD tag:</p>
        <p>
          <blockquote>
&lt;script type="text/javascript" src="/path/to/machine-includer.js"&gt;&lt;/script&gt;
          </blockquote>
        </p>
      </p>
      <p>
        And then at the top of the document's body tag, you'll want a script block with something like:
        <p>
          <blockquote>
&lt;script type="text/javascript"&gt;<br />
// Initialize the includer and make it available for use.<br />
Machine.Includer.configure();<br />
<br />
// The includer does not automatically load whatever script/code<br />
// is present in an include() call when it encounters it. Instead,<br />
// it puts the arguments to include() (whether its a path to a script<br />
// or a function() {} block) inside of a queue.<br />
// You must then explicitly make a call to include.load(), in order to<br />
// kick off the cascading process that actually pulls in the scripts<br />
// and evaluates the function blocks. The best time to do this is when<br />
// the document has finished loading, so...<br />
$(function() { include.load(); });<br />
&lt;/script&gt;
          </blockquote>
        </p>
      </p>
      <p>
        And that's it. After that, you can have blocks that use the include() function to import scripts or some function block. If you have a function-block that you want to have included and it is going to depend on some script that is also imported via include(), put the include() call for the script before and <em>outside</em> of the include() call with the function block.
      </p>
    </div>
  </body>
</html>
